:root {
    --google-drive-logo-src: "https://www.gstatic.com/images/branding/product/1x/drive_48dp.png";
    --text-primary-color: #202124;
    --text-secondary-color: #bbbbbb;
    --text-box-right-margin: 1.2em;
    --border-color: #cccccc;
    --mdc-theme-primary: #1a73e8;
    --mdc-theme-primary-highlight: #5894e4;
    --mdc-wave-primary: #5894e4A6;
}

.code {
font-family: 'Courier New', Courier, monospace;
color: darkblue;
}

.code-comment {
font-family: 'Courier New', Courier, monospace;
color: grey;
}

.btn {
    background-color: var(--mdc-theme-primary);
}

.btn:hover {
    background-color: var(--mdc-theme-primary-highlight);
}

.btn:focus {
    background-color: var(--mdc-theme-primary-highlight);
}

.btn-flat:focus {
    background-color: transparent;
}

a.collection-item {
    color: var(--mdc-theme-primary) !important;
}