{% extends "exchange/base.html" %}
{% block content %}
<div style="display: flex; flex-direction: column; align-items: center;"> <!--Main content wrapper-->
  <div style="flex: 1 1 650px; width: 550px; border: 1px solid #cccccc; border-radius: 15px; display: flex; flex-direction: column; padding: 2rem;"> <!-- Main content-->
    <div><!--Row one: Market summary > company name-->
      <span style="font-size: 2rem; color: #cccccc;">Market Summary > </span>
      <span style="font-size: 2rem;">{{ company.name }}</span>
    </div>
    <div><!--Row 2: Company symbol-->
      <span style="font-size: 1.5rem;">{{ company.symbol }}</span>
    </div>
    <div><!--Row 3: price-->
      <span style="font-size: 1.5rem;">Market price: {{ "$%.2f"|format(company.market_price) }}</span>
    </div>
    <div style="flex-basis: 280px; border: 1px solid #cccccc; margin: 2rem 0rem;"><!--Row 4: GRAPH-->
      <span style="font-size: 5rem; color: #cccccc;">Placeholder for the GRAPH</span>
    </div>
    <div> <!--Row 5: Description-->
      <span style="font-size: 2rem;">Company description</span>
      <p>
        {{ company.name }} was founded on {{ company.create_date_display }} by {{ company.founder_name}} with an 
        an initial value of {{ "$%.2f"|format(company.initial_value) }} spread across {{ company.initial_size }} 
        shares
      </p>
    </div>
  </div>
</div>
{% endblock content %}